html {
	/* color: #111; */
	background: #fff;
}

body,div,ul,li,h1,h2 {
	margin: 0;
	padding: 0
}

img {
	border: 0
}

i,strong {
	font-style: normal;
	font-weight: normal
}

ul {
	/* list-style: none */
}

h1,h2 {
	font-size: 100%;
	font-weight: normal
}

a {
	/* cursor: pointer */
}

a:link {
	/* color: #37a; */
	/* text-decoration: none; */
}

a:visited {
	/* color: #669; */
	/* text-decoration: none; */
}

/* a:hover {
	color: #fff;
	text-decoration: none;
	background: #37a
}

a:active {
	color: #fff;
	text-decoration: none;
	background: #f93
} */

a img {
	border-width: 0;
	vertical-align: middle
}

body {
	/* font: 12px Helvetica,Arial,sans-serif; */
	/* line-height: 1.62; */
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1;
	display: inline-block;
	_height: 1px
}

.clearfix {
	display: block
}

#wrapper {
	width: 950px;
	margin: 0 auto
}

#content {
	min-height: 420px
}

#footer {
	color: #999;
	padding: 8px 0;
	margin-top: 1px;
	overflow: hidden;
	zoom: 1;
	border-top: 1px dashed #ddd;
}

.grid-16-8 .article {
	float: left;
	/* width: 590px; */
	padding-right: 40px
}

.extra {
	clear: both;
	text-align: right
}

a {
	/* cursor: pointer; */
}

a:link {
	/* color: #37a; */
	/* text-decoration: none; */
}

a:visited {
	/* color: #666699; */
	/* text-decoration: none; */
}

/* a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: #37a
} */

/* a:active {
	color: #FFFFFF;
	text-decoration: none;
	background: #FF9933
} */

a img {
	border-width: 0;
	vertical-align: middle
}

h1 {
	word-wrap: break-word;
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #494949;
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 1.1
}

h1 .year {
	color: #888
}

ul {
	/* list-style-type: none; */
	margin: 0;
	padding: 0;
}

h2 {
	font: 15px Arial, Helvetica, sans-serif;
	color: #072;
	margin: 0 0 12px 0;
	line-height: 150%
}

.ll {
	float: left
}

.pl {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #666666
}

.indent {
	word-break: break-all
}

.subject {
	float: left;
	/* width: 415px */
}

#mainpic {
	margin: 3px 0 0 0;
	float: left;
	text-align: center;
	margin: 3px 12px 0 0;
	max-width: 155px;
	overflow: hidden
}

#mainpic a img {
	margin-bottom: 10px
}

#info {
	float: left;
	max-width: 248px;
	word-wrap: break-word
}

.clearbox {
	clear: both;
	width: 100%
}

.clearbox:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.subjectwrap {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 15px
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1;
	display: inline-block;
	_height: 1px
}

.clearfix {
	display: block
}

.starstop {
	margin: 0
}

.subjectwrap {
	position: none;
	float: none;
	width: auto
}

.starstop {
	margin-right: 5px
}

.starstop {
	float: left
}

.rating_num {
	color: #e09015;
	font-size: 12px;
	padding: 0 3px
}

#interest_sectl {
	float: right;
	width: 155px;
	margin: 2px 0 0 0;
	padding: 0 0 0 15px;
	border-left: 1px solid #eaeaea;
	color: #9b9b9b;
}

#interest_sectl .rating_wrap {
	padding-bottom: 15px;
	font-size: 12px;
	line-height: 14px
}

#interest_sectl .rating_wrap .rating_logo {
	line-height: 1
}

#interest_sectl .rating_self {
	padding: 0;
	line-height: 2
}

#interest_sectl .rating_self:before,#interest_sectl .rating_self:after {
	content: '';
	display: block;
	clear: both
}

#interest_sectl .rating_num {
	color: #494949;
	padding: 0;
	min-width: 30%;
	font-size: 28px
}

#interest_sectl .power {
	height: 10px;
	float: left;
	margin: 1px 4px;
	background: #ffd596 none repeat scroll 0 0
}

#interest_sectl .rating_per {
	font-size: 11px
}

#interest_sectl .rating_betterthan {
	position: relative;
	padding: 15px 0;
	border-top: 1px solid #eaeaea;
	color: #9b9b9b;
	margin: 0
}





/* ------------------------------------ */


#content h2 {
	color: #007722;
}

.indent {
	*zoom: 1;
	margin-bottom: 30px;
}

.related-info h2, .related-pic h2 {
	margin: 24px 0 3px 0
}

.year {
	display: inline-block;
	zoom: 1
}

#mainpic img {
	max-width: 135px
}

.article .related-info h2, .related-pic h2 {
	margin-bottom: 12px;
}

.more-actor,
    .more-actor:link {
	color: #aaa;
}

.more-actor:hover {
	color: #fff;
	background: #aaa;
}

.related-pic {
	/* margin-bottom: 30px */
}

.related-pic-bd {
	text-align: justify;
	text-justify: distribute;
	-ms-text-justify: distribute;
	font-size: 0
}

.related-pic-bd>* {
	display: inline-block
}

.related-pic-bd:after {
	content: "";
	width: 100%;
	display: inline-block
}

.related-pic-bd li {
	display: inline-block;
	vertical-align: top;
	height: 115px
}

.related-pic-bd img {
	width: 115px;
	height: 115px
}

.related-pic-video {
	position: relative;
	display: block;
	width: 203px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%
}

.related-pic-video:hover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.related-pic-video:after {
	content: "";
	background-image: url("/static/imgs/play-black.png");
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.related-pic-video:before {
	content: "";
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.wide_videos .related-pic-video {
	width: 217px
}

.label-trailer {
	position: relative
}

.label-trailer:after {
	color: #fff;
	height: 12px;
	top: 4px;
	position: absolute;
	left: 4px;
	font-weight: 500;
	border-radius: 2px;
	font-size: 12px;
	padding: 4px;
	line-height: 12px;
	-ms-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top
}

.label-trailer:after {
	content: '预告片';
    background-color: #e48f1f;
    -webkit-box-sizing:unset;
    box-sizing:unset;
}

