<html lang="zh-CN">
    {% include "header.html" %}
  <body>
      <div class="container">
   <nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid"> 
     <!-- Brand and toggle get grouped for better mobile display --> 
     <div class="navbar-header"> 
      <a class="navbar-brand" href="/"><span class="visible-lg-block"><i class="glyphicon glyphicon-magnet"></i>&nbsp;<span class="n1">B</span><span class="n2">ook</span><span class="n3">A</span><span class="n4">nd</span><span class="n5">V</span><span class="n6">ideo</span></span><span class="hidden-lg"><i class="glyphicon glyphicon-magnet"></i></span></a>

	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Bavbt</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
     </div> 
     <!-- Collect the nav links, forms, and other content for toggling --> 
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <ul class="nav navbar-nav navbar-right"> 
            {%if loc=="zh"%}
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;首页 <span class="sr-only">首页</span></a></li> 
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span>&nbsp;功能<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="/about"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;关于及免责声明</a></li>
            {% endif%}
            {%if loc=="en"%}
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Home <span class="sr-only">Home</span></a></li> 
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span>&nbsp;More<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="/about"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;About</a></li>
            {% endif%}
        </ul>
		</li>
      </ul> 
     </div> 
     <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid -->
   </nav> 
	
    <div class="container">
    	<div class="row visible-lg">
                <div class="col-lg-12 ">
                    <div class="add ">
                    </div>
                </div>
        </div>
        <div class="row visible-lg-block">


	</div>
      <div class="row hidden-lg">
      

       </div>
       <p>
     		<!--p-->
    </p>

		<div class="panel panel-primary searchmehome">
			<div class="panel-heading ">{% if loc=="zh"%}使用本站前请仔细阅读{% endif%}{% if loc=="en"%}Please read this statement before useing{% endif%}</div>
  			<div class="panel-body">
	
                     		<ul class="list-group">
                  <li class="list-group-item title  list-group-item-success">&nbsp;&nbsp;&nbsp;&nbsp;关于</li>
                  <li class="list-group-item code text-left">
    <div class="panel-body">
关于本站:
&nbsp;&nbsp;本站仅作为技术研究参考.</div>
           
                  </li>
            </ul>
<ul class="list-group">
                  <li class="list-group-item title  list-group-item-success">&nbsp;&nbsp;&nbsp;&nbsp;免责声明</li>
                  <li class="list-group-item code text-left">
    <div class="panel-body">
免责声明:
因为本站不收集任何种子文件资源,只是对种子文件资源的文件名进行采集索引,所以种子搜搜索引擎是没有违反相关互联网法律法规的。您见到的只是一串关键词和一个长达60位的英文字母.我们提供类似Google的侵权内容删除服务,如果你觉得本站内容侵犯了你的权益,此页面可帮助您通过正确途径举报您认为根据适用法律应从本站中删除的内容。向我们提供相关完整信息可帮助我们对您提出的问题进行调查.如果你的申请通过审查,本站会根据DCMA法律规定在24小时内删除.本站联系邮箱mail@bmixo.com 请阅读下面DMCA信息按照要求联系我们.</div>
                  	
                   
                     
                  </li>
            </ul><ul class="list-group">
                  <li class="list-group-item title  list-group-item-success">&nbsp;&nbsp;&nbsp;&nbsp;DMCA info</li>
                  <li class="list-group-item code text-left">
    <div class="panel-body"><p>If you are a copyright owner or an agent thereof, and you believe that any content hosted on our web site (bt.bmixo.com) infringes your copyrights, then you may submit a notification pursuant to the Digital Millennium Copyright Act (.DMCA.) by providing rarbg.s Designated Copyright Agent with the following information in writing (please consult your legal counsel or See 17 U.S.C. Section 512(c)(3) to confirm these requirements):</p>
<br>


<p>1. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
<p>2. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the rarbg social website are covered by a single notification, a representative list of such works at that website.</p>
<p>3. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit rarbg to locate the material. Providing URLs in the body of an email is the only way to locate those files. URLs have to be to a direct download link and not to an info/search page. URLs in every DMCA notice have to be no more then 10.</p>
<p>4. Information reasonably sufficient to permit rarbg to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</p>
<p>5. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</p>
<p>6. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
<p>7. A scanned physical document that proves you are or you are representing the copyright owner.</p>
<p>8. A valid email address username@copyrightcompany will help you to prove you're representing or you're the legitimate copyright owner. We will not process requests from free mailboxes (Gmail, Hotmail, Yahoo, AOL, MailRu etc)</p>
<p>9. All received emails have to be in plain/text. Our automatic system is not capable of understanding anything else.</p>
<p>10. All mails should be sent to mail@bmixo.com or else they wont be processed - the system is automated and working only on this e-mail. Example : mailing our ISPs or our support AT means we wont process your mails.</p>
<p>11. We delete only hash link , not search pages / info pages. Only hash link might or might not violate someones copyright.</p>
<p>12. Personal or attornies notices wont be processed. They have to come from companies or dmca/eipred agents.</p>
<p>13. Respect our work and we will respect yours. Threats wont do you any good.</p>
<br>
<p>Please note that under Section 512(f) of the DMCA, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.</p>

<p>If you are writing from europe please send us an European Intellectual Property Rights Enforcement Directive request.</p>

</div>
                  	
                   
                     
                  </li>
            </ul>
	
			
                       	</div>
</div>
    

          <!--/p-->
    	<p class="hotsearch">

       
        </p>
        <div class="row">
    	<div class="col-lg-12 " style="height: 40px;">
        	<div class="add ">
            </div>
        </div>
    </div>
    
    
    </div>
   
    
    
</div>



 <footer class="navbar-fixed-bottom">
  <footer class="footer">
   <div class="container">
    <p class="muted credit text-center">
<strong> 2018  &ensp;&ensp;<a href="http://bt.bmixo.com">bt.bmixo.com</a>&ensp;&ensp;<a href="http://bt.bmixo.com">{%if loc=="zh"%}种子搜索{% endif %}{%if loc=="en"%}Bt Search{% endif %}</a></strong></p><strong>
   </strong></div><strong>
  </strong></footer><strong>
   </strong></footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    
    <script src="https://libs.baidu.com/jquery/1.11.3/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  

</body></html>